
body {
	background-color: rgb(241, 213, 119);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

#controls,
#overall,
#puzzlearea {
	width: 400px;
}

#timer {
	background-color: white;
	padding: 5px;
	margin: 15px;
	margin-top: 3px;
	width: 70px;
	border: 1px solid black;
	text-align: center;
}

.timerLabel {
	position: relative;
	left: 15px;
	padding: 3px;
	background-color: white ;
	border: 1px solid black; 
	width: 145px;
	align-content: center;
	text-align: center;
}


#controls {
	padding-top: 10px;
	text-align: center;
}

h1 {
	margin: 10px 0px;
	text-align: center;
}

/* Used to center the puzzle. */
#overall {
	margin-left: auto;
	margin-right: auto;

}

/* The area that holds the 15 puzzle pieces. */
#puzzlearea {
	font-size: 32px;
	height: 400px;
	padding: 0px;
	position: relative;
	background-color:beige;
}

.headerDiv {
	margin: auto;
	padding: 20px;
	background-color: burlywood;
	width: 60%;
	border: 3px ridge brown;
}

.instructions {
	padding: 5px;
	background-color: ivory;
	width: 90px;
}



/* This class should be applied to each of the 15 puzzle pieces. */
.puzzlepiece {
	background-image:"./jwst.jpg";
    ;
	border: 2px solid black;
	height: 96px;
	line-height: 96px;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 96px;
}

/* This class should be applied to a puzzle piece that can be moved. */
.movablepiece:hover {
	border-color: red;
	color: #006600;
	text-decoration: underline;
}

#w3c {
	text-align: right;
}

#w3c img {
	border: none;
}
