body {
    background-color: rgb(241, 213, 119);
    margin-left: auto;
	margin-right: auto;
    text-align: center;
}

#puzzle {
    height: 400px;
    width: 450px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    left: 15px;
}

#timer {
	background-color: white;
	padding: 5px;
	margin-bottom: 15px;
	margin-top: 3px;
	width: 70px;
	border: 1px solid black;
	text-align: center;
    margin-left: auto;
	margin-right: auto;
}

.timerLabel {
	position: relative;
	padding: 3px;
	background-color: white ;
	border: 1px solid black; 
	width: 145px;
	align-content: center;
	text-align: center;
    margin-left: auto;
	margin-right: auto;
}

button {
    height: 25px;
    width: 102px;
}

.tile {
    position: relative;
    display: flex;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    font-size: 32pt;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32px;
}

.movableTile {
    position: relative;
    display: flex;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    font-size: 32pt;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32px;
    cursor: pointer;
}

.movableTile:hover {
	border-color: red;
	color: #006600;
	text-decoration: underline;
}

.emptyTile {
    position: relative;
    display: flex;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    font-size: 32pt;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}